
.allcontainer {
    min-height: 100vh;
}

ul{
    box-shadow: 0 6px 12px -2px rgba(50,50,93,.25), 0 3px 7px -3px rgba(0,0,0,.3);
    margin: 0;
}

ul li{
    display: flex;
    justify-content: space-between;
    padding: 8px 40px;
}

ul li button{
    margin-top: auto;
    margin-bottom: auto;
    width: 9%;
    height: 5vh;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
}

ul li button svg{
    margin-right: 10px;
}

ul li button:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,.35);
    cursor: pointer;
}

.container.dark, .toggle.dark{
    background-color: #2b3945;
    color: white;
}

.containerpage.dark{
    background-color: #202c37;
    color: white;
    padding: 0%;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.country {
    width: 300px;
    margin: 10px;
    margin-bottom: 55px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.country.dark{
    background-color: #2b3945;
}

.country:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.country picture {
    width: 100%;
}

.country section {
    padding: 25px;
    padding-top: 5px;
}

.country img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 170px;
    padding: 0;
    transition: all 0.1s ease-in-out;
    object-fit: cover;
}

/* 
.country img:hover {
    transform: scale(1.05);
  } */

.country h2 {
    margin-top: 15px;
    letter-spacing: 1px;
    font-weight: 800;
}

.country .country-info-highlight {
    font-weight: 600;
}

.country p {
    font-weight: 300;
    margin-top: 10px;
}

.countries {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.countries-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.search-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 60px;
    position: sticky;
    top: 10px;
}

.search-filter section {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 5px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.search-filter section svg {
    font-size: 20px;
    margin-left: 15px;
}

.search-filter input {
    border: none;
    padding: 10px 20px;
    padding-right: 250px;
    outline: none;
    font-size: 18px;
}

.search-filter form select {
    padding: 10px 50px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.search-filter form select:hover {
    cursor: pointer;
}

.allcontainer.dark{
    background-color: #202c37;
}

.container.dark {
    background-color: #2b3945;
}

.search-filter section:first-child.dark {
    color: white;
    background-color: #2b3945;
}

.search-filter section:first-child.dark input {
    color: white;
    background-color: #2b3945;
}

.search-filter form.dark select {
    color: white;
    background-color: #2b3945;
}